@use '../../main-style.scss' as *;
@use "sass:color";

.top-bar{
    display: flex;
    width: 100%;
    height: 50px;
    background: linear-gradient(75deg, #ff7e5f, #feb47b);

    // Horizontaly and vertically centering the text
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Lato;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark;
    }
}

.total-expenses-section {
    display: flex;
    height: 250px;
    background: $dark;

    // Horizontaly and vertically centering the text
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 50px;
        color: white;

        &.green{
            color: color.adjust($green, $lightness: 10%);
        }
    
        &.red{
            color: color.adjust($red, $lightness: 10%);
        }
    }

}

.add-item-section {

    display: flex;
    // Horizontaly and vertically centering the text
    justify-content: center;
    align-items: center;

    .add-item-container {
        width: 800px;
        height: 50px;
        background: $red;
        
    }
}